/**********RESET THE PAGE FORMAT****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********BASE STYLE*****************/
@font-face {
	font-family: Roboto;
	src:url(../Exported Fonts/Roboto-Reg.woff) format(woff),
	    url(../Exported Fonts/Roboto-Reg.ttf) format(truetype);

}
@font-face {
	font-family: ProximaNova-Regular;
	src: url(../Exported Fonts/ProximaNova-Regular.woff),format(woff)
		 url(../Exported Fonts/ProximaNova-Regular.ttf),format(truetype);
	font-weight: 300;
}

body{
	font-family:Roboto; 
	font-size: 16px;
	line-height: 1.4;
}

/***********HEADER********************/
.page-header, .page-footer{
	height: 67px;
	width: 100%;
	background-color: #f7c61d;
	text-transform: uppercase;

}
.wrapper{
	width: 1170px;
	height: 100%;
	margin: 0 auto;

}
.page-header .wrapper, .page-footer .wrapper{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.page-header nav ul{
	display: flex;
	text-decoration: none;
	color: #ffff;
	justify-content: space-between;
}
.page-header nav a{
	text-decoration: none;
	color: black;
	font-family: ProximaNova-Regular;
	font-weight: 300;
	padding: 0 67px; 
}

/****************FOOTER***************************************/
.page-footer{
	margin: 100px 0;
}
.page.footer>.wrapper>*{
	width: 33.33%
}
.copyright{
	font-family: ProximaNova-Regular;
	font-weight: 300;
	font-size: 13px;
	color: #a78613;
}

.footer-nav a{
	text-decoration: none;
	color: #000;
	display: flex;
	justify-content:flex-start;
}

.social{
	display: flex;
	justify-content: flex-end;
}
.social a{
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #fff;
	color: #f7c61d;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-left: 10px;
}